<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.undefinedchain.project.dao.FinancebillMapper">
  <resultMap id="BaseResultMap" type="com.undefinedchain.project.model.Financebill">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="fid" jdbcType="INTEGER" property="fid" />
    <result column="ename" jdbcType="VARCHAR" property="ename" />
    <result column="oid" jdbcType="INTEGER" property="oid" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="now_id" jdbcType="INTEGER" property="nowId" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="eid" jdbcType="INTEGER" property="eid" />
    <result column="hid" jdbcType="INTEGER" property="hid" />
    <result column="ftid" jdbcType="INTEGER" property="ftid" />
    <result column="ticketing_date" jdbcType="TIMESTAMP" property="ticketingDate" />
    <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="financial_quota" jdbcType="DECIMAL" property="financialQuota" />
    <result column="bill_process" jdbcType="INTEGER" property="billProcess" />
    <result column="bill_state" jdbcType="INTEGER" property="billState" />
  </resultMap>
</mapper>